.gradient {
    background: rgb(38, 38, 44);
    background: linear-gradient(90deg, #262525 10%, #0a0a0a 40%);
  }
  
  .fs-nome {
    font-weight: bold;
    font-size: 2rem;
  }
  
  .bg-escuro {
    background-color: #131515;
  }
  
  .border-all {
    border-radius: 20px;
  }
  
  .bg-amarelo{
    background-color: #f4c430;
  }
  
  .bg-marrom {
    background-color: #4A2316;
  }