.color-dark-grey{
    background-color: #857979;
} 

.color-light-grey{
    background-color: #DEDEDE;
}

.color-grey{
    background-color: #756666;
}

.color-orange{
    background-color: #FFBB0F;
}

.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 100px;
    background-color: yellow;
    padding: 50px;
  } 