<!-- NavBar -->
<nav class="navbar navbar-expand-lg cor-navbar fixed-top fancy-link::after">


  <!--opção de logo-->
  <!--<a class="navbar-brand text-warning font-weight-bold mb-1" style="font-size: 25px" > <img src="../../assets/foto/logoteste-removebg-preview.png" alt="50px" width="100px"> </a>
  <!--opção de logo-->
  <!-- Nome do projeto -->
    <a routerLink="/feed"><img src="https://i.imgur.com/NtjxYyo.png" width="40px" height="40px" ></a>
    <a routerLink="/feed" class="navbar-brand text-white font-weight-bold mb-1 "  style="font-size: 25px"><em>Lampe</em></a>
  <!-- /Nome do projeto -->

  <!-- Botão do menu-->
    <button class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  <!-- /Botão do menu-->




<!-- WILLIAM - NGIF -->

  <!-- Opções do feed | Aqui iremos usar o recurso de *ngIf, segue exemplo abaixo: -->

        <!-- <div class="collapse navbar-collapse" *ngIf='auth.logado()'>
          <ul class="navbar-nav mr-auto navbar-nav ml-auto text-center">
              <div>
                  <li class="nav-item">
                      <a class="nav-link active text-warnin font-weight-bold"style="font-size: 20px" href="#feed"> Feed <span class="sr-only">(current)</span></a>
                  </li>
              </div>
            </ul>
        </div> -->


      <div class="collapse navbar-collapse" *ngIf='auth.logado()' >

        <ul class="navbar-nav mr-auto navbar-nav ml-auto text-center">
          <li class="nav-item">
            <a class="nav-link active text-white font-weight-bold fancy-link mr-5" style="font-size: 32px" routerLink="feed"> <i class="fa fa-home font-weight-bold" aria-hidden="true"> </i><span class="sr-only">(current)</span></a>
          </li>

          <li class="nav-item">
            <a class="nav-link active text-white font-weight-bold fancy-link mr-5" style="font-size: 30px" routerLink="eventos"> <i class="fa fa-calendar-o font-weight-bold" aria-hidden="true"></i> <span class="sr-only">(current)</span></a>
          </li>

          <li class="nav-item">
            <a class="nav-link active text-white font-weight-bold fancy-link" style="font-size: 32px" routerLink="perfil"> <i class="fa fa-user font-weight-bold" aria-hidden="true"></i> <span class="sr-only">(current)</span></a>
          </li>
      </ul>
      </div>
  <!-- /Opções do feed -->

<!-- /WILLIAM - NGIF -->












<!-- WILLIAM - NGIF -->

      <!-- O trecho abaixo se refere ao icone com a foto do usuário, o mesmo não está funcional -->

      <div>
        <li class="d-flex nav-item active list-group mr-3">
          <img class="img-circle" src="{{imgUsuario}}"
              alt=""
              width="50px"
              height="50px"
              class="rounded-circle"
              >
        </li>
      </div>



<!-- /WILLIAM - NGIF -->


<!-- WILLIAM - NGIF -->

    <!-- Dropdown para Sair e Configurações, respectivamente  | Aqui também iremos usar o recurso de *ngIf -->

          <div class="dropdown btn btn-outline-dark font-weight-bold rounded-pill mr-5" *ngIf='auth.logado()'>
            <a class="text-white  dropdown-toggle"
                href="#"
                role="button"
                id="dropdownMenuLink"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false">{{nomeUsuario}}
            </a>

            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <a class="dropdown-item font-weight-bold text-dark" style="font-size: 20px" routerLink="usuario-edit"><i class="fa fa-pencil-square" aria-hidden="true">  Editar </i></a>
              <a class="dropdown-item font-weight-bold text-danger" style="font-size: 20px" (click)="sair()"  routerLink="entrar">
                <i class="fa fa-sign-out" aria-hidden="true"> Sair </i>
              </a>
            </div>
        </div>
    <!-- /Dropdown para Sair e Configurações, respectivamente -->

<!-- /WILLIAM - NGIF -->





</nav>



<!-- NavBar -->
