.gradient {
  background: rgb(38, 37, 37);
  background: linear-gradient(
    90deg,
    rgba(38, 37, 37, 1) 40%,
    rgba(18, 18, 20, 1) 79%
  );
}

.teste {
  width: 100px;
  height: 50px;
  margin-top: 150px; /* altura que está do topo */
  top: 80px; /* altura que vai parar antes do topo */
  position: sticky;
}

.bg-escuro {
  background-color: #131515;
}

.border-all {
  border-radius: 20px;
}

.bg-marrom {
  background-color: #4a2316;
}

.bg-marrom-claro {
  background-color: #4a2316;
}

.fs-icon {
  font-size: 30px;
}

.btn-orange {
  background-color: #f4c430;
  font-weight: bold;
}
