<div class="container-fluid color-dark-grey mt-5 py-4 p-0">

  <div class="d-flex col-md-10 py-4 p-0" id="postagens">
  
    <div class="col-md-4 mt-3 p-0">

    
      <!--NavsTabs-->
    <ul class="nav nav-tabs bg-dark rounded col-md-10 d-flex justify-content-center p-2 sticky" id="myTab" role="tablist">
  
      <!--Todas Postagens-->
    <li class="nav-item col-md-12 pl-0 mt-3" role="presentation">
      <a class="nav-link active color-light-grey rounded-pill" id="nav-todasPostagens-tab" data-toggle="tab" href="#todasPostagens" role="tab" aria-controls="todasPostagens" aria-selected="true">Todas Postagens</a>
    </li>
    <!--Todas Postagens-->

    
    <!--Procurar Postagens-->
    <li class="nav-item pl-0 col-md-12 mt-3" role="presentation">
      <a (click)="getAllTemas()" class="nav-link rounded-pill color-light-grey" id="nav-procurarPostagens-tab" data-toggle="tab" href="#procurarPostagens" role="tab" aria-controls="procurarPostagens" aria-selected="false">Procurar Postagens</a>
    </li>
    <!--Procurar Postagens-->
    
    <!--Gerar Postagens-->
    <button class="btn color-light-grey mt-3" data-toggle="modal" data-target="#exampleModal">
      Criar Postagem
    </button>
    <!--Gerar Postagens-->
    
  </ul>
    </div>

  <div class="tab-content col-md-8" id="myTabContent">
    
    <!--Conteúdo: Todas Postagens-->
    <div class="tab-pane fade show active" id="todasPostagens" role="tabpanel" aria-labelledby="nav-todasPostagens-tab">
      
      <div class="card mb-3 color-light-grey">
        <div *ngFor='let item of listaDePostagens' class="card-body">
          <small>Publicado por {{item.usuarioPostagem.nomeUsuario}}</small>
          <h5 class="card-title d-flex justify-content-center">{{item.titulo}}</h5>
          <small>Tema: {{item.temaPostagem.primarioTema}}</small>
          <small>{{item.temaPostagem.secundarioTema}}</small>
          <p class="card-text">{{item.textoPostagem}}
          </p>
          <img src="{{item.anexoPostagem}}" class="card-img-bottom">
          <p class="card-text"><small class="text-muted">Publicado como: {{item.privacidade}}</small></p>
          <div class="bg-dark">
        </div>
        <hr>
        </div>
    </div>
    
  </div>
  <!--Conteúdo: Todas Postagens-->

  <!--Conteúdo: Procurar Postagens-->
  <div class="tab-pane fade" id="procurarPostagens" role="tabpanel" aria-labelledby="nav-procurarPostagens-tab">

    <div *ngFor='let tema of listaDeTemas' class="card mb-3">
      <div *ngFor='let item of tema.postagens' class="card-body color-light-grey">
        <small>Publicado por {{item.usuarioPostagem.nomeUsuario}}</small>
        <h5 class="card-title d-flex justify-content-center">{{item.titulo}}</h5>
        <small>Tema: {{tema.primarioTema}}</small>
        <p class="card-text">{{item.textoPostagem}}</p>
        <div class="bg-dark">
          <img src="{{item.anexoPostagem}}" class="card-img-bottom">
        </div>
        <p class="card-text"><small class="text-muted">Publicado como: {{item.privacidade}}</small></p>
          <!-- <p class="card-text"><small class="text-muted">Publicado em </small></p> -->
          <hr>
        </div>
      </div>
    </div>
    
    <!--Conteúdo: Procurar Postagens-->
  </div>
  
  <!-- Modal -->
  <div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Criar nova postagem</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="form">

          <input
          name="titulo"
          id="titulo"
          class="form-control mb-4"
          type="text"
          placeholder="titulo"
          [(ngModel)]="postagem.titulo"
        />

          <input
            name="texto"
            id="texto"
            class="form-control mb-2"
            type="text"
            placeholder="Texto"
            [(ngModel)]="postagem.textoPostagem"
          />
          <div>
            <input [(ngModel)]="postagem.privacidade" type="radio" id="publico" name="drone" value="publico"
                   checked>
            <label for="publico">Público</label>
          </div>
          
          <div>
            <input [(ngModel)]="postagem.privacidade" type="radio" id="privado" name="drone" value="privado">
            <label for="privado">Privado</label>
          </div>
          
          <textarea
            class="form-control my-3"
            name="anexo"
            id="anexo"
            cols="30"
            rows="3"
            placeholder="Anexo"
            [(ngModel)]="postagem.anexoPostagem"
          ></textarea>
          <select
            [(ngModel)]="idTema"
            (change)='findByIdTema()'
            class="form-control"
            name="Tema"
            id="Tema"
          >
            <option *ngFor="let tema of listaDeTemas" value="{{ tema.id }}">
              {{ tema.primarioTema }}
            </option>
          </select>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Cancelar
        </button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="postPostagem()">
          Criar postagem
        </button>
      </div>
    </div>
  </div>
</div>
  <!--Modal-->
</div>

