.gradient {
  background: rgb(38, 37, 37);
  background: linear-gradient(
    90deg,
    rgba(38, 37, 37, 1) 40%,
    rgba(18, 18, 20, 1) 79%
  );
}

.bg-amarelo {
  background-color: #f4c430;
}

.bg-escuro {
  background-color: #131515;
}

.border-all {
  border-radius: 20px;
}

.fs-nome {
  font-weight: bold;
  font-size: 3rem;
}
