@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');


#logo{
  background-image: url('https://i.imgur.com/NtjxYyo.png');

  min-height: 30vh;

  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

#grad-theme {
  background-image: linear-gradient(#FFBB0F,#cf8009, #ad4407, #ad4407,#ad4407,#ad4407,#8f3705, #000000);
}

.color-dark{
  background-color: #101818;
}

.btn-hover-blue {
background-color: #000279;
border: none;
color: white;
text-align: center;
font-size: 20px;
opacity: 0.6;
transition: 0.3s;
}
.btn-hover-blue:hover {opacity: 1}

.ft-size{
  font-size: 50px;
  font-family: 'Zen Dots', cursive;
}

#text-color-blue{
color: #ffffff;
}

#borda {
border-radius: 25px;
width: 65%;
}