*::-webkit-scrollbar {
  width: 11px;
}

*::-webkit-scrollbar-track {
  width: 12px;
  box-shadow: inset 0 0 .3rem #000;
  background-color: #888888;
}

*::-webkit-scrollbar-thumb {
  background-color: #3f3f3f;
}

:root {
  scrollbar-color: #E3E3E3 #1D1C1A !important;
  scrollbar-width: thin !important;
}
