

<!-- Início -->
<section id="home">
    <div class="container-fluid cor-inicio">
      <div class="container ">
        <div class="row mt-5 mb-5">
          <div class="col-md-6 text-white mt-3">
            <div>
              <h1 class="mb-5 text-center text-warning font-weight-bold mb-1" style="font-size: 100px"><img src="https://i.imgur.com/5Z17dqr.png" alt="500px" width="500px">
              </h1>
            </div>
            <div class="alinhar-esq">
              <h1 class="mb-5 text-center text-dark font-italic">
                Tudo o que você precisa saber sobre energia renovavél
              </h1>
            </div>
            <div class="alinhar-dir">
              <h1 class="mb-5 text-center text-dark font-italic">
                Do seu bairro para o mundo!
              </h1>
            </div>
          </div>
          <div class="col-md-6 d-flex justify-content-end">
            <iframe
              class="btn btn-outline-bg-info tamanho-img mb-2"
              src="https://embed.lottiefiles.com/animation/85171"
            ></iframe>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--/Início-->

<!--A Lampe-->
<section id="alampe">
  <div class="container-fluid">
      <div class="container justify-content-center">
          <div class="row mt-5 mb-5">
              <div class="col-md-12 mt-3 mb-3">
                  <h3 class="text-dark text-center"style="font-size: 50px"><b> A <em> Lampe:</em></b></h3>
              </div>
          </div>
          <div class="row mb-3 font-weight-bold">
              <div class="col-md-3 text-center">
                  <h4 style="font-size: 30px;"><b>O que fazemos?</b></h4>
                  <p style="font-size: 22px;">Reforçamos a cooperação entre as academias e comunidades, facilitando acesso a informação sobre energia limpa.</p>
              </div>
              <div class="col-md-3 text-center">
                  <h4 style="font-size: 30px;"><b>Nosso sonho é...</b></h4>
                  <p style="font-size: 22px;">Levar informação a nível internacional</p>
              </div>
              <div class="col-md-3 text-center">
                  <h4 style="font-size: 30px;"><b>Com visão em...</b></h4>
                  <p style="font-size: 22px;">Assegurar as comunidades com informações legítimas.</p>
              </div>
              <div class="col-md-3 text-center">
                  <h4 style="font-size: 30px;"><b>Sob o valor de:</b></h4>
                  <p style="font-size: 22px;">Confiança para que as comunidades possam esperar conteúdo acessível, legítimo e transparente.</p>
              </div>
              <div class="container d-flex justify-content-left mt-5 mb-5">
              </div>
          </div>
      </div>
  </div>
</section>
<!--/A Lampe-->

<!--ODS 7-->
<section id="ods7">
  <div class="container-fluid cor-inicio p-5">
      <div class="container justify-content-center">
          <div class="row mt-5 mb-5">
              <div class="col-md-12 mt-3 mb-3">
                  <h3 class="text-white text-center" style="font-size: 50px"><b>ODS 7 - Energias Renováveis:</b></h3>
              </div>
          </div>
          <div class="embed-responsive embed-responsive-21by9">
            <iframe
              width="1805"
              height="647"
              src="https://www.youtube.com/embed/Qi5EQ_n0DNo"
              title="YouTube video player"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen>
            </iframe>
              <div class="container d-flex justify-content-left mt-5 mb-5">
              </div>
          </div>
      </div>
  </div>
</section>
<!--/ODS 7-->

<!--Tecnologias-->
<section id="tecnologias">
  <div class="container-fluid">
      <div class="container justify-content-center">
          <div class="row mt-5 mb-5">
              <div class="col-md-12 mt-3 mb-3">
                  <h3 class="txt_cinza text-center" style="font-size: 50px"><b>Tecnologias usadas neste projeto:</b></h3>
              </div>
          </div>
          <div class="row mb-3">
            <div class="col-md-12 mt-3 mb-3">
              <h3 class="txt_cinza text-center" style="font-size: 40px"><b>Backend:</b></h3>
          </div>

          <div class="row mx-auto">
              <h1 class="" style="font-size: 50px"><img src="https://i.imgur.com/Kw4hdyx.gif" alt="200px" width="200px"></h1>
              <h1 class="" style="font-size: 50px"><img src="https://i.imgur.com/tD4l8V4.png" alt="200px" width="200px"></h1>
              <h1 class="" style="font-size: 50px"><img src="https://i.imgur.com/sMdESpl.png" alt="200px" width="200px"></h1>
          </div>

          <div class="col-md-12 mt-3 mb-3">
            <h3 class="txt_cinza text-center" style="font-size: 40px"><b>Frontend:</b></h3>
          </div>

          <div class="row mx-auto">
            <h1 class="" style="font-size: 50px"><img src="https://i.imgur.com/oZsPakc.png" alt="200px" width="190px"></h1>
            <h1 class="" style="font-size: 50x"><img src="https://i.imgur.com/OayBOvx.png" alt="200px" width="190px"></h1>
            <h1 class="" style="font-size: 50px"><img src="https://i.imgur.com/fCcohaM.png" alt="200px" width="190px"></h1>
            <h1 class="" style="font-size: 50px"><img src="https://i.imgur.com/q1oVU7m.png" alt="200px" width="190px"></h1>
            <h1 class="" style="font-size: 50px"><img src="https://i.imgur.com/GY3jbtc.png" alt="200px" width="190px"></h1>
            <h1 class="" style="font-size: 50px"><img src="https://i.imgur.com/UvVGiqV.png" alt="200px" width="190px"></h1>
          </div>
        </div>
      </div>
  </div>
</section>
<!--/Tecnologias-->

<!--Equipe-->
<section id="equipe">
  <div class="jumbotron jumbotron-fluid cor-inicio -dev mb-0 ">
    <h4 class="text-center mb-5 text-light" style="font-size: 50px"><b>Equipe Desenvolvedora:</b></h4>
      <div class="container d-flex">
        <br class="justify-content-center container-fluid d-flex ml-4">
      <div class="container">
        <div class="row">

          <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="our-team">
              <div class="picture">
                <img class="img-fluid" src="https://i.imgur.com/Ks6UUTj.jpg">
              </div>
              <div class="team-content">
                <h2 class="name">Macauly Fragoso</h2>
                <h3 class="title">Engenheiro de Software</h3>
                <h4 class="title">Full Stack</h4>
              </div>
              <ul class="social">
                <li><a href="https://www.linkedin.com/in/macaulyfragoso/" class="fa fa-linkedin" aria-hidden="true"></a></li>
                <li><a href="https://github.com/MacaulyFragoso" class="fa fa-github" aria-hidden="true"></a></li>
              </ul>
          </div>
        </div>

        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
          <div class="our-team">
            <div class="picture">
              <img class="img-fluid" src="https://i.imgur.com/bocRpZD.jpg
              ">
            </div>
            <div class="team-content">
              <h2 class="name">Eduardo Andrade</h2>
              <h3 class="title">Engenheiro de Software</h3>
              <h4 class="title">Full Stack</h4>
            </div>
            <ul class="social">
              <li><a href="https://www.linkedin.com/in/eduardo-andrade-9a588a21a/" class="fa fa-linkedin" aria-hidden="true"></a></li>
              <li><a href="https://github.com/eduardoandr" class="fa fa-github" aria-hidden="true"></a></li>
            </ul>
        </div>
      </div>

      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="our-team">
          <div class="picture">
            <img class="img-fluid" src="https://i.imgur.com/qDON5ap.jpg
            ">
          </div>
          <div class="team-content">
            <h2 class="name">Guilherme Campos</h2>
            <h3 class="title">Engenheiro de Software</h3>
            <h4 class="title">Full Stack</h4>
          </div>
          <ul class="social">
            <li><a href="https://www.linkedin.com/in/cosmos-blood/" class="fa fa-linkedin" aria-hidden="true"></a></li>
            <li><a href="https://github.com/Cosmos-Blood" class="fa fa-github" aria-hidden="true"></a></li>
          </ul>
      </div>
    </div>

    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
      <div class="our-team">
        <div class="picture">
          <img class="img-fluid" src="https://i.imgur.com/Mbq0YYy.jpg">
        </div>
        <div class="team-content">
          <h2 class="name">Willian <br> Amâncio</h2>
          <h3 class="title">Engenheiro de Software</h3>
          <h4 class="title">Full Stack</h4>
        </div>
        <ul class="social">
          <li><a href="https://www.linkedin.com/in/souzawill/" class="fa fa-linkedin" aria-hidden="true"></a></li>
          <li><a href="https://github.com/WillianX47" class="fa fa-github" aria-hidden="true"></a></li>
        </ul>
    </div>
  </div>

</div>
</div>
</div>
</div>
</section>
<!--/Equipe-->
