<!-- Opções de Início -->
<div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto navbar-nav ml-auto text-center">

        <li class="nav-item">
          <a class="nav-link active text-dark font-weight-bold fancy-link" style="font-size: 20px" href="#inicio"> Início <span class="sr-only">(current)</span></a>
        </li>

        <li class="nav-item">
          <a class="nav-link active text-dark font-weight-bold fancy-link" style="font-size: 20px" href="#alampe"> A Lampe <span class="sr-only">(current)</span></a>
        </li>

        <li class="nav-item">
          <a class="nav-link active text-dark font-weight-bold fancy-link" style="font-size: 20px" href="#ods7"> ODS 7 <span class="sr-only">(current)</span></a>
        </li>

        <li class="nav-item">
          <a class="nav-link active text-dark font-weight-bold fancy-link" style="font-size: 20px" href="#tecnologias"> Tecnologias <span class="sr-only">(current)</span></a>
        </li>

        <li class="nav-item">
          <a class="nav-link active text-dark font-weight-bold fancy-link" style="font-size: 20px" href="#equipe"> Equipe <span class="sr-only">(current)</span></a>
        </li>

        <li class="nav-item">
          <a class="nav-link active text-dark font-weight-bold fancy-link" style="font-size: 20px" href="#contato"> Contato <span class="sr-only">(current)</span></a>
        </li>

    </ul>

  </div>
<!-- /Opções de Início -->

